@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-base {
    font-family: 'Poppins', sans-serif;
  }

  .font-handwritten {
    font-family: 'Indie Flower', cursive;
  }

  .bg-dotted-black,
  .bg-dotted-white {
    background-size: 75px 75px;
    background-image: radial-gradient(var(--dotted-bg-color) 1px, transparent 0);
  }

  .bg-dotted-black {
    --dotted-bg-color: theme(colors.neutral.300);
  }

  .bg-dotted-white {
    --dotted-bg-color: theme(colors.neutral.600);
  }

  .base-h {
    @apply font-handwritten font-semibold underline decoration-indigo-600 decoration-wavy underline-offset-8;
  }

  .h2 {
    @apply base-h mb-6 text-3xl;
  }

  .h3 {
    @apply base-h mb-4 text-2xl;
  }
}
